.underSearch{
    border-top: 0;
    border-bottom: 1px solid #e8e8e8;
}


.blink{
    font-size: 15px;
    color: black;
    animation: blink 1s linear infinite;
}
@keyframes blink{
0%{opacity: .4;}
25%{opacity: .5;}
50%{opacity: .6;}
75%{opacity: .8;}
100%{opacity: 1;}
}
